<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WaterCounter - add</title>

    <!-- Bootstrap core CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">WaterCounter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/addwater}">Add drinked water</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/waterstats/user}">Your water</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/waterstats/daily}">Your daily water</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/waterstats/all}">See all water stats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Add your water</h1>
            <form th:action="@{/waterstats}" th:object="${waterModel}" method="post">
                <p>Quantity <input type="text" th:field="*{quantity}" placeholder="liter" /></p>
                <p>Date <input type="date" th:field="*{date}" placeholder="YYYY-MM-DD" /></p>
                <p><input type="submit" value="Add Water" /></p>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> ppochec</a>
    </div>
</footer>
<!-- Footer -->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>