<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Water counter - add</title>
</head>
<body>
    <h1>Add your water</h1>
    <form th:action="@{/waterstats}" th:object="${waterModel}" method="post">
        <p>Quantity <input type="text" th:field="*{quantity}" placeholder="liter" /></p>
        <p>Date <input type="date" th:field="*{date}" placeholder="YYYY-MM-DD" /></p>
        <p><input type="submit" value="Add Water" /></p>
    </form>
</body>
</html>